.loginForm-main-box {
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    height: 100vh;
    padding-top:  150px;
    margin-left: auto;
    margin-right: auto;
}


.loginForm-container {
    text-align: center;
    width: 100%;
}

.loginForm > input, label {
    margin-left: 10px;

}