
.colorPicker-box {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.colors-box {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 80px);
    justify-items: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
}

/* .hidden {
    visibility: hidden;
} */

@media only screen and (min-width: 600px) {
.colorPicker-box {
    z-index: 1;
    position: fixed;
    left: 0; right: 0;
    top: 90vh; bottom: 30px;
    transition: all 0.5s;
}
.colorPicker-box:hover {
    top: 0;
}

.colors-box {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.colors-box > a {
    text-align: center;
    flex: 1;
}

}