

.colorPicker-box {
    z-index: 1;
    position: fixed;
    left: 0; right: 0;
    top: 90vh; bottom: 30px;
    transition: all 0.5s;

    
}
.colorPicker-box:hover {
    top: 0;
}

.colors-box {
    display: flex;
    justify-content: space-between;
    margin: 0;
}


@media screen and (max-width: 500px) {
    .colorPicker-box {
        top: 90vh;
    }
}
