.container {
    display: flex;
}

.photos-container-main {
    padding-top: 100px;
}

.photos-container-main > label {
    margin-right: 20px;
}

.photos-container {
    display: flex;
    padding-top: 50px;
    margin-right: 150px;
    margin-left: 150px; 
}

.photo {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: grey;
    color: black;
}