.slideshow-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
    background-color: black;
  }
  
  
  .slideshow-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: auto; 
  }

  .slideshow {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 500px) {
    .slide {
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto; margin-right: auto;
        width: 100%;
        height: auto;
    }
    
}

  .slide {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: auto; margin-right: auto;
      width: 100%;
      height: 100%;
  }
  
  .slide-container:hover {
    opacity: 0.5;
  }

  .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

.no-color-selected {
    padding-top: 150px;
    color: white;
}