.slide-container {
    width: 70%;
    margin: auto; 
    padding-top: 50px;
    max-height: 800px;
}
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }

 
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  } 

/* .slideshow-slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-top: 50px;
  margin-left: 0;
  overflow: hidden;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: hidden;
}

/* .slideshow-container {
  height: 100vh;
  width: 100vw;
}

.slideshow-container > .slide-holder {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.current-slide {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.slideshow-container > section.next-slide {
  display: hidden;
} */


/* .slideshow-slider {

  max-height: 800px;
  overflow: hidden;
}

.sliderContent {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.slide {
  width: 100%;
}

.slide > img {
  width: auto;
  height: 100%;
  padding-top: 50px;
} */

