* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  background-color: black;
  text-align: center;
  line-height: 1.5;
}

body, html {
  height: 100%;
}