.top-nav-bar {
    background-color: #aaa;
    align-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: small;
    padding-right: 15px;
    padding-left: 15px;
}

.navBar {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navBar > a {
    margin-left: 10px;
} 
