.top-nav-bar {
    display: flex;
    align-items: space-evenly;
    margin-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: large;
    padding-right: 15px;
    padding-left: 15px;
}

/* .navBar {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
} */

.top-nav-bar > a {
    text-decoration: none;
    opacity: 0.8;
    stroke-width: 2;
    color: white;
    padding-left: 10px; padding-right: 10px;
    padding-top: 5px; padding-bottom: 5px;
    border-radius: 10%;
} 

.spacer {
    width: 90vw;
    height: 100%;;
}

.top-nav-bar > a:hover {
    opacity: 1;
}
.new_text_color {
    color: black;
}